{% capture footer_contents %}
  {% if site.data.socials.email or site.data.socials.scholar_userid %}
    <div class="footer-links">
      {% if site.data.socials.email %}
        <a href="mailto:{{ site.data.socials.email }}">Email</a>
      {% endif %}
      {% if site.data.socials.email and site.data.socials.scholar_userid %} &middot; {% endif %}
      {% if site.data.socials.scholar_userid %}
        <a href="https://scholar.google.com/citations?user={{ site.data.socials.scholar_userid }}" target="_blank">Google Scholar</a>
      {% endif %}
    </div>
  {% endif %}
  {{ site.footer_text }}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    Last updated: {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}
