{% capture footer_contents %}
  <div class="footer-links">
    <a href="mailto:{{ site.data.socials.email }}">Email</a> &middot;
    <a href="https://github.com/mpfarrho" target="_blank">GitHub</a> &middot;
    <a href="https://scholar.google.at/citations?user=ymlNJ_UAAAAJ" target="_blank">Google Scholar</a> &middot;
    <a href="https://www.semanticscholar.org/author/Michael-Pfarrhofer/88739014" target="_blank">Semantic Scholar</a> &middot;
    <a href="https://ideas.repec.org/e/ppf31.html" target="_blank">RePEc</a> &middot;
    <a href="https://orcid.org/0000-0002-0168-688X" target="_blank">ORCID</a> &middot;
    <a href="https://gravatar.com/observant20e864abfe" target="_blank">Gravatar</a>
  </div>
  {{ site.footer_text }}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    Last updated: {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}
